

// slider 
//
.slide {
    max-height: 700px;
 }
 .carousel .slide img {
     max-height: 700px;  /* change this to whatever you want */
     width: auto;
 }
 @media (max-width: 767px) {
     .slide{
         height: 500px !important;
     }
     .carousel .slide img {
         max-height: 500px;  /* change this to whatever you want */
         width: auto;
     }
 }
 
