@media (min-width: 993px) {
  .main-menu {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
}

@media (max-width: 992px) {
  .mobile-menu {
    display: block;
    position: relative;
    z-index: 99;
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 9%);
  }
  .header,
  .footer {
    padding: 0 20px !important;
  }
}
.header.stylehome1 {
  background-color: #0a0a0a !important;
  position: relative;
  z-index: 1;
}
.header.stylehome1 .main_logo_home2 {
  display: inline;
  position: relative;
}
.header.stylehome1 .main_logo_home2 span {
  font-size: 18px;
  margin-top: 25px;
  margin-left: 5px;
  vertical-align: bottom;
}
.header.stylehome1 a {
  height: 50px;
  display: grid;
  line-height: 40px;
  margin: 0 10px auto;
  padding-top: 15px;
  top: 20px;
  width: 50px;
}
header.stylehome1.home3 a {
  background-color: #112360 !important;
}
.header,
.content,
.footer {
  text-align: center;
}
.header,
.footer {
  background: #777;
  font-size: 16px;
  font-weight: bold;
  color: #484848;
  line-height: 40px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 85px;
  padding: 0 50px;
}
.header a {
  display: block;
  width: 28px;
  height: 18px;
  padding: 11px;
  position: absolute;
  top: 0;
  left: 0;
}
.header a:hover {
  cursor: pointer;
}
.header a:before {
  content: "";
  display: block;
  background: #484848;
  height: 2px;
  width: 15px;
}
.header a span {
  background: #484848;
  display: block;
  height: 2px;
  margin: 6px 0;
  width: 30px;
}
.header a:after {
  content: "";
  display: block;
  background: #484848;
  height: 2px;
  width: 20px;
}
.menu_bar_home2 li.list-inline-item:first-child {
  position: absolute;
  right: 60px;
  top: -15px;
}
.menu_bar_home2 li.list-inline-item:first-child a::before {
  display: none;
}
/*!
 * jQuery mmenu v7.3.2
 * @requires jQuery 1.7.0 or later
 *
 * mmenujs.com
 *	
 * Copyright (c) Fred Heusschen
 * www.frebsite.nl
 *
 * License: CC-BY-NC-4.0
 * http://creativecommons.org/licenses/by-nc/4.0/
 */

/* Small devices (min-width: 576px) (max-width: 767.98px) // (landscape phones, less than 992px) */
@media only screen and (max-width: 992px) {

  .stylehome1:before,
  .header.stylehome1 {
    background-color: #000000 !important;
  }
  .stylehome1.home3 .header.stylehome1 {
    border-bottom: none !important;
  }
}

/* Small devices (min-width: 576px) (max-width: 767.98px) // (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px) {
}
