/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media only screen and (max-width: 1000px) {
	.bg-img3 {
		border-radius: 0px;
		background-image: none !important;
		background: #000000 !important;
	}
	.home-three:before {
		border-radius: 0px;
		background-color: #000000 !important;
	}
}
/*  (min-width:1280px)+++ */
@media only screen and (max-width: 1280px) {

	header.header-nav.menu_style_home_one a.navbar_brand {
		margin-top: 21px;
	}
	header.header-nav.menu_style_home_one .ace-responsive-menu > li > a {
		padding: 37px 20px 27px 5px;
	}
}
/*  (min-width:1200px)+++ */
/*  (max-width:1200px)+++ */
@media only screen and (max-width: 1200px) {
	header.header-nav.menu_style_home_one .ace-responsive-menu > li > a {
		padding: 37px 10px 27px 5px;
	}
}
/* (min-width:992px) (max-width: 1199.98px) // Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {
	/* ExTra Class Start*/
	/* ExTra Class End*/
	/* Margin Padding Change In Responsive Area */
	/* END */
	header.header-nav.menu_style_home_one {
		padding: 0 30px;
	}
	header.header-nav.menu_style_home_one a.navbar_brand {
		margin-top: 21px;
	}
	header.header-nav.menu_style_home_one .ace-responsive-menu > li > a {
		padding: 37px 20px 27px 10px;
	}
	/* home responsibe style 2 Start*/
	/* home slider end */
	.home1_adsrchfrm {
		padding: 30px 20px;
	}
	.home1-advnc-search ul li:first-child .form-control,
	.home1-advnc-search ul li:nth-child(3) .form-group .form-control {
		width: 150px;
	}
	.small_dropdown2 .dd_btn {
		width: 100px;
	}
	.home1-advnc-search ul li .search_option_button button {
		width: 140px;
	}
	.dropdown-content {
		min-height: 300px;
	}
	.feat_property .details .fp_footer .fp_pdate {
		float: left !important;
		margin-left: 55px;
		margin-top: -15px;
	}
	.footer_social_widget li {
		padding-left: 10px;
		padding-right: 0;
	}
	.footer_qlink_widget {
		padding-left: 50px;
	}
	.home1-advnc-search.home7 ul li:nth-child(2) {
		width: 300px;
	}
	.why_chose_us.home7 {
		padding: 25px 30px;
	}
	.home1-advnc-search.home10 ul li {
		margin-right: auto !important;
	}
	.stylehome1 .nav_logo_img {
		position: relative;
	}
	.application_statics {
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 1024px) {
	header.header-nav.menu_style_home_one.style2 a.navbar_brand {
		margin-top: 16px;
	}
	.footer_social_widget li {
		margin-right: 0 !important;
	}
	.banner-style-one .slide {
		padding: 165px 60px;
	}
	header.header-nav.menu_style_home_one a.navbar_brand {
		margin-top: 10px;
	}
	header.header-nav.menu_style_home_one .ace-responsive-menu > li > a {
		padding: 27px 14px 27px 5px;
	}
}
@media only screen and (max-width: 992px) {
	.stylehome1:before {
		position: absolute;
		content: "";
		background-color: #0a0a0a;
		bottom: 0;
		height: 65px;
		right: 0;
		top: 0;
		width: 100%;
	}
	.stylehome1.home3:before {
		background-color: transparent !important;
	}
	.inner_page_breadcrumb {
		margin-top: -95px;
	}
}
/* Medium devices (min-width:768px) (max-width: 991.98px) // (tablets, less than 992px) */
@media only screen and (max-width: 991px) {
	/* ExTra Class Start*/
	.pb30-991 {
		padding-bottom: 30px;
	}
	
	.tal-991 {
		text-align: center !important;
	}
	.dn-smd {
		display: none !important;
	}
	/* ExTra Class End*/
	/* Home responsibe style Start*/
	/* home slider end */
	.home1-advnc-search ul li:first-child .form-control,
	.home1-advnc-search ul li:nth-child(3) .form-group .form-control {
		margin-bottom: 15px;
		width: 190px;
	}
	.home1-advnc-search .search_option_two .dropdown-menu {
		top: 15px !important;
	}
	.small_dropdown2 .dd_btn {
		width: 150px;
	}
	.home1-advnc-search ul li .search_option_button button {
		width: 170px;
	}
	.small_dropdown2.home10 .dd_content2 {
		top: 150px;
		z-index: 9;
	}
	.dd_content2 {
		right: auto;
		top: 200px;
	}
	.dd_content2:before {
		left: 50px;
		right: auto;
	}
	.dropdown-content {
		height: 450px;
		top: 200px;
	}
	.dropdown-content:before {
		left: -10%;
	}
	.home_content {
		padding: 300px 0 400px !important;
	}
	.home_content.listing {
		padding: 40px 0 !important;
	}
	.form_grid,
	.terms_condition_grid {
		margin-bottom: 30px;
	}
	.home3_home_content {
		padding: 35px 0;
	}
	.home1-advnc-search.home7 ul li:nth-child(2) {
		width: 200px;
	}
	.sidebar_listing_list.style2 {
		max-height: 667px;
		overflow-y: scroll;
	}
	.footer_about_widget {
		padding-left: 15px;
		padding-right: 15px;
	}
	.footer_qlink_widget {
		padding-left: 0px;
	}
	
	.footer_about_widget,
	.footer_qlink_widget,
	.footer_contact_widget {
		margin-bottom: 30px;
	}
	.listing_single_row {
		margin-bottom: 42px;
		margin-top: -150px;
	}
}
@media only screen and (max-width: 768px) {
	.nav_logo_img.mt10 {
		margin-top: 5px;
	}
	.menu_style_home_one.stricky-fixed {
		background-color: transparent;
	}
	header.header-nav.menu_style_home_one .ace-responsive-menu,
	header.header-nav.menu_style_home_one .ace-responsive-menu > li {
		background-color: #262626;
	}
	header.header-nav.menu_style_home_one .ace-responsive-menu li a {
		padding: 27px 15px 27px 15px;
	}
	.dn-smd {
		display: none !important;
	}
	.sticky-nav-tab {
		padding: 20px 10px 0;
	}
	.sticky-nav-tab {
		padding: 20px 10px 10px;
	}

	.container-fluid.style2 {
		width: 100%;
	}
}
/* Small devices (min-width: 576px) (max-width: 767.98px) // (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px) {
	/* ExTra Class Start*/
	
	.tal-767 {
		text-align: left !important;
	}
	.tac-xsd {
		text-align: center !important;
	}
	.mb20-xsd {
		margin-bottom: 20px;
	}
	
	.mt30-767 {
		margin-top: 30px !important;
	}
	
	.mb30-767 {
		margin-bottom: 30px !important;
	}
	/* ExTra Class End*/
	/* Home Content*/
	.home1-advnc-search ul li:first-child .form-control,
	.home1-advnc-search ul li:nth-child(3) .form-group .form-control {
		width: 135px;
	}
	.small_dropdown2 .dd_btn {
		width: 140px;
	}
	.dropdown-content {
		height: 500px;
		top: 0;
		z-index: 1;
	}
	.dropdown-content:before {
		left: 0%;
	}
	/*.feature_property_slider .feat_property{margin: 30px 20px 30px;}*/
	.home_content {
		padding: 150px 0 150px !important;
	}
	.home_adv_srch_opt {
		margin-top: 100px;
	}
	.error_page.footer_apps_widget .mailchimp_form .form-control {
		width: 500px;
	}
	.feat_property .details .fp_footer .fp_pdate {
		float: right !important;
		margin-top: 12px;
	}
	.home1-advnc-search.home7 {
		display: table;
		padding: 0 15px;
		position: relative;
		width: 100%;
	}
	.home_content.home7 {
		padding: 250px 0 0 !important;
	}
	
	.grid_list_search_result {
		display: inline-table;
	}
	.right_area.style2 {
		text-align: left !important;
	}
	.home_content.listing {
		padding: 0 !important;
	}
	.sidebar_advanced_search_widget .dropdown-menu.show {
		min-width: 100% !important;
	}
	.lsd_list li {
		margin-bottom: 10px;
	}
	.listing_single_description2 {
		display: block;
	}
	.single_property_social_share.style2 {
		position: relative;
		right: auto;
	}
	.listing_single_row.style2 {
		position: absolute;
		top: -400px;
	}
	.faq_according {
		margin-bottom: 30px;
	}

	.sticky-nav-tab {
		padding: 5px 10px 15px;
	}
	.candidate_revew_select.mt50 {
		margin-top: auto;
	}
}
@media only screen and (max-width: 630px) {
	.banner-style-one .slide {
		padding: 165px 15px;
	}
	.menu_bar_home2 li.list-inline-item:first-child:after {
		right: 0;
	}
}
@media only screen and (max-width: 580px) {
	.sticky-nav-tabs-container {
		padding-top: 13px;
	}
}
/* Extra small devices (min-width:361px) (max-width: 575.98px) // (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
	.home1-advnc-search ul li:first-child .form-control,
	.home1-advnc-search ul li:nth-child(3) .form-group .form-control {
		width: 135px;
	}
	.small_dropdown2 .dd_btn {
		width: 140px;
	}
	.dropdown-content {
		height: 800px;
	}
	.dropdown-content:before {
		display: none;
	}
}
/* (min-width:361px) (max-width:520px) */
@media only screen and (max-width: 520px) {
	/* ExTra Class */
	
	.mb30-520 {
		margin-bottom: 30px;
	}
	.col-xxs-6 {
		width: 50% !important;
	}
	.flr-520 {
		float: right !important;
	}
	/* ExTra Class End*/
	.home1_adsrchfrm {
		padding: 30px 15px;
	}
	.small_dropdown2 .dd_btn {
		width: 120px;
	}
	.home1-advnc-search .search_option_two {
		margin-bottom: 10px;
	}
	.home1-advnc-search .search_option_two,
	.home1-advnc-search ul li {
		margin-right: 0;
		width: 100%;
	}
	.home1-advnc-search ul li:first-child .form-control,
	.home1-advnc-search ul li:nth-child(3) .form-group .form-control,
	.home1-advnc-search ul li .form-control,
	.small_dropdown2 .dd_btn,
	.home1-advnc-search ul li .search_option_button button {
		width: 100%;
	}
	.home_content {
		padding: 100px 0 100px !important;
	}
	.home1-advnc-search ul.h1ads_1st_list li.custome_fields_520 {
		border: 1px solid #ebebeb;
		border-radius: 8px;
		cursor: pointer;
		height: 50px;
		line-height: 50px;
		margin: 10px 0;
		padding: 0 15px;
	}
	.home_adv_srch_opt {
		margin-top: 120px;
	}
	.dropdown-content {
		bottom: 0;
		left: 0;
		max-height: -webkit-fill-available;
		overflow: auto;
		position: fixed;
		right: 0;
		top: 0;
		visibility: visible !important;
	}
	.dd_content2 {
		top: auto;
		z-index: 9;
	}
	.mega-dropdown .dropbtn {
		display: block;
	}

	.contact_form_social_area li {
		margin-bottom: 10px;
	}
	.error_page.footer_apps_widget .mailchimp_form .form-control {
		width: 375px;
	}
	.home1-advnc-search.home7 ul li:nth-child(2) {
		width: 100%;
	}
	.home_content.home7 .home-text {
		display: block;
	}
	.home_content.home7 {
		padding: 200px 0 !important;
	}
	.small_dropdown2.home10 .dd_content2 {
		left: 15px;
		top: 250px;
	}
	.home_adv_srch_opt.listing {
		margin-top: 0;
	}
	.listing_single_row {
		margin-bottom: 15px;
	}
	.sticky-nav-tab {
		padding: 5px 2px 15px;
	}
	.error_page.footer_apps_widget .form-inline {
		display: -webkit-inline-box;
	}
	.application_statics {
		padding: 15px;
	}
	.footer_social_widget li {
		margin-right: 10px !important;
	}
	.footer_apps_widget .mailchimp_form button {
		margin-left: -55px;
		margin-top: 3px;
		width: 45px;
	}
	.candidate_revew_select.style2 ul li {
		display: block;
		text-align: center;
	}
}
/* (min-width:480px) (max-width:500px) */
@media only screen and (max-width: 500px) {
	.home3_home_content {
		padding: 0 0 15px;
	}
}
/* (min-width:361px) (max-width:479px) */
@media only screen and (max-width: 414px) {
	.dropdown-content {
		width: 108%;
	}
	.dd_content2 {
		right: 0;
	}
	.dd_content2:before {
		left: auto;
		right: 20px;
	}
	.home1-advnc-search ul li:nth-child(2),
	.home1-advnc-search ul li:nth-child(4) {
		margin-right: 0;
	}
	.grid_list_search_result .right_area ul li:first-child {
		margin-right: 0;
	}
	.grid_list_search_result .right_area ul li:first-child:before {
		display: none;
	}
	.grid_list_search_result .right_area li {
		display: block;
	}
	/*.sidebar_switch{display: none;}*/
	/*.sidebar_content_details{display: block;position: relative !important;padding-top: 0;margin: 0 auto 30px !important;width: auto;}*/
	.sticky-nav-tab {
		padding: 10px 0px 15px;
	}
	.sticky-nav-tabs-container li a {
		font-size: 13px;
	}

	.main-title a {
		display: inline-block;
		float: none !important;
	}
}
@media only screen and (max-width: 400px) {
	/* ExTra Class Start*/
	.fn-400 {
		float: none !important;
	}
	.tal-400 {
		text-align: left !important;
	}
	/* ExTra Class End*/
	.home_adv_srch_opt .nav-pills {
		margin: 0;
	}
	.feat_property .details .fp_footer .fp_pdate {
		margin-left: 0;
	}
	.home_content.home7 {
		padding: 130px 0 !important;
	}
	.header.stylehome1 .main_logo_home2.home7 span {
		font-size: 16px;
	}
	.error_page.footer_apps_widget .mailchimp_form .form-control {
		width: 290px;
	}
}
/* (min-width:321px) (max-width:360px) */
@media only screen and (max-width: 360px) {
	.home1_adsrchfrm {
		padding: 30px 10px;
	}

	.home_adv_srch_opt {
		margin-top: 160px;
	}

	.error_page.footer_apps_widget .mailchimp_form .form-control {
		width: 245px;
	}
}
@media only screen and (max-width: 340px) {
	.feat_property .details .fp_footer .fp_pdate {
		float: left !important;
		margin-left: 55px;
	}
	.grid_list_search_result.style2 {
		padding: 0;
	}
	.header.stylehome1 .main_logo_home2.home7 span {
		font-size: 14px;
	}
}
@media only screen and (max-width: 320px) {
	.feat_property .details .tc_content .prop_details li {
		margin-right: 20px;
	}
	.header.stylehome1 .main_logo_home2.home7 span {
		font-size: 12px;
	}
}
